.enter {
  .dialog,
  .overlay {
    animation: fadeIn 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}
.exit {
  .dialog,
  .overlay {
    animation: fadeOut 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  .dialog {
    position: relative;
    display: flex;
    .content {
      width: 100%;
      background-color: white;
      padding: 30px 20px;
      margin: 15px 0px;
      border-radius: 4px;
    }
  }
}

.container {
  overflow-y: auto;
  .dialog {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .content[data-size="md"] {
    max-width: 550px;
  }
  .content[data-size="sm"] {
    max-width: 400px;
  }
  .content[data-size="lg"] {
    max-width: 650px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
