.field {
  font-size: 80px;
  max-height: 150px;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  cursor: default;
  &:not(:read-only) {
    cursor: text;
  }
}
