.container {
  position: absolute;
  top: -15px;
  left: -15px;
  border: 10px solid #669df6;
  background-color: transparent;
  z-index: 1;
  cursor: move;
  button {
    position: absolute;
    background-color: #669df6;
    border: 8px solid #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    width: var(--size);
    height: var(--size);
    --size: 50px;
    --align: calc(var(--size) / 2 * -1);
    &:is(:nth-child(1), :nth-child(6), :nth-child(8)) {
      border-radius: 50%;
    }
    &:nth-child(1) {
      img {
        position: absolute;
        top: -35px;
        left: -35px;
        width: 100px;
        height: 100px;
        user-select: none;
      }
    }
  }
  .top_center,
  .bottom_center {
    left: 50%;
    transform: translateX(-50%);
    cursor: s-resize;
  }
  .top_center {
    top: var(--align);
  }
  .bottom_center {
    bottom: var(--align);
  }
  .left,
  .right {
    top: 50%;
    transform: translateY(-50%);
    cursor: e-resize;
  }
  .left {
    left: var(--align);
  }
  .right {
    right: var(--align);
  }
  .top_left {
    top: var(--align);
    left: var(--align);
    cursor: crosshair;
  }
  .bottom_right,
  .bottom_left {
    bottom: var(--align);
  }
  .bottom_left {
    left: var(--align);
    cursor: ne-resize;
  }
  .bottom_right {
    right: var(--align);
    cursor: nw-resize;
  }
  .top_right {
    position: absolute;
    right: -45px;
    top: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    i {
      font-size: 70px;
      color: #5f6368;
    }
  }
}
