.container {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  &:is(.selected) {
    cursor: move;
  }
  svg {
    fill: #fff;
    stroke-width: 12;
    path {
      stroke: rgba(38, 38, 38, 1);
      fill-rule: evenodd;
      stroke-linejoin: round;
    }
    circle {
      stroke: rgba(38, 38, 38, 1);
      fill-rule: evenodd;
      stroke-linejoin: round;
    }
  }
}
