.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: rgba(60, 64, 67, 0.4) 0px 13.6928px 18.257px;
  padding: 15px;
  overflow: hidden;
  h2 {
    font-size: 100px;
  }
}
