.enter {
  animation: fadeIn 250ms ease-in-out forwards;
}

.exit {
  animation: fadeIn 250ms ease-in-out forwards reverse;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
